body{
  overflow-x: hidden;
  background-color: #f6fff8;
}

#display-title
{
  font-size: 16px;
}
#price
{
  font-size: 12px
}

#shoe-display
{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 200px;
  padding-top: 3vh;
  text-align: center;
  padding-right: 0vw;
  border: 1px solid #2f3e46;
  border-radius: 12px;
  background-color: #2f3e46;
  color: #cce3de;
}

a
{
  text-decoration: none;
}

#shoes
{
  display: flex;
  gap: 10px;
}

#shoe-display:hover
{
  cursor: pointer;
}

#table-wrap
{
  display: flex;
  justify-content: center;
}
table
{
  margin-top: 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: 1px solid #2f3e46;
  color: #2f3e46;
  border-spacing: 0px;
  text-align: center;
}

th, td
{
  border: 1px solid #2f3e46;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
button {
  padding: 0.6rem;
  width: 100%;
  background-image: linear-gradient(to left, #cce3de, #a4c3b2);
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  border-radius: 4px;
  background-size: 300% 100%;
  border: none;

  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

button:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}